<!-- Header -->
        <div class="bg-white border-b border-gray-200 px-8 py-6">
            <div class="flex items-center gap-3">
                <div class="w-12 h-12 bg-teal-600 rounded-xl flex items-center justify-center">
                    <img src="{{ url_for('static', filename='icon/icon-angin.svg') }}" class="w-6 h-6" alt="">
                </div>
                <div class="ml-3">
                    <h1 class="text-xl font-bold text-teal-700">Sistem Peramalan Energi Angin</h1>
                    <p class="text-sm text-gray-600">Optimasi Pengaturan Pembebanan PLTB</p>
                </div>
            </div>
        </div>